<!DOCTYPE html>

<html>
 <head>
  <meta charset="UTF-8">
  <title>Mehho</title>
  <link rel="stylesheet" href="main.css">
  <link rel="icon" href="favicon.ico">
 </head>

 <body>

  <a class="idl" href="http://internetdefenseleague.org"><img src="http://internetdefenseleague.org/images/badges/final/banner_right.png" alt="Member of The Internet Defense League" /></a>
  <div class="front-page">

   <div class="hgroup">
    <h1><object data="logo.png" height=134 width=150><img src="logo.png" alt="" height=101 width=138></object> Welcome to <abbr title="Meshable Home Host">Mehho</abbr></h1>
    <h2>A home server for friends and family</h2>
   </div>

   <div class="s"><span><a href="{{ roundcube['baseurl'] }}/"><strong>Email</strong></a></span> <span>Access your emails</span> <span>Or browse the <a href="http://{{ mailman['lists_host'] }}.{{ vhostname }}">mailing-lists</a></span></div>
   <div class="s"><span><a href="{{ owncloud['baseurl'] }}/"><strong>Cloud</strong></a></span> <span>Sync your files</span> <span>Share them with friends</span></div>
   <div class="s"><span><a href="{{ etherpad['baseurl'] }}/"><strong>Pads</strong></a></span> <span>Collaboratively edit a</span> <span>throw-away scratchpad</span></div>
   <div class="s"><span><a href="/homeprojects.php"><strong>Home-projects</strong></a></span> <span>Have a peek at the hosted</span> <span>homepages and projects</span></div>

   <div class="footer">
    <address>Queries should be directed to <a href="mailto:hello [at] mehho [dot] net">hello [at] mehho [dot] net</a>.</address>
    <p class="copyright">&copy; 2011-2013 S&eacute;bastien Lerique. Design inspired from the <a href="http://www.whatwg.org/">WHATWG</a> website, thank you to them :).</p>
   </div>

   <!-- Internet Defense League script -->
   <script type="text/javascript">
       window._idl = {};
       _idl.variant = "banner";
       (function() {
           var idl = document.createElement('script');
           idl.type = 'text/javascript';
           idl.async = true;
           idl.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'members.internetdefenseleague.org/include/?url=' + (_idl.url || '') + '&campaign=' + (_idl.campaign || '') + '&variant=' + (_idl.variant || 'banner');
           document.getElementsByTagName('body')[0].appendChild(idl);
       })();
   </script>

  </div>
 </body>
</html>
