<!DOCTYPE HTML>

<html>
 <head>
  <title>Mehho</title>
  <link rel="stylesheet" href="main.css">
  <link rel="icon" href="favicon.ico">
 </head>

 <body class="front-page">

  <hgroup>
   <h1><object data="logo.png" height=134 width=150><img src="logo.png" alt="" height=101 width=138></object> Welcome to <abbr title="Meshable Home Host">Mehho</abbr></h1>
   <h2>A home server for friends and family</h2>
  </hgroup>

  <div class="s"><span><a href="https://{{ vhostname }}{{ roundcube['baseurl'] }}/"><strong>Email</strong></a></span> <span>Access your emails</span> <span>Or browse the <a href="http://{{ mailman['lists_host'] }}.{{ vhostname }}">mailing-lists</a></span></div>
  <div class="s"><span><a href="https://{{ vhostname }}{{ owncloud['baseurl'] }}/"><strong>Cloud</strong></a></span> <span>Sync your files</span> <span>Share them with friends</span></div>

  <div class="footer">
   <address>Queries should be directed to <a href="mailto:sl [at] mehho [dot] net">sl [at] mehho [dot] net</a>.</address>
   <p class="copyright">&copy; 2011-2013 S&eacutebastien Lerique. Design inspired from the <a href="http://www.whatwg.org/">WHATWG</a> website, thank you to them :).</p>
  </div>

 </body>
</html>
