#!/bin/bash
# Generate certificate signing requests for {{ grains['domain'] }} and mail.{{ grains['domain'] }}

# Don't tolerate errors
set -e

# We assume the key has already been generated

# Certificate for {{ grains['domain'] }}
if [ -f "/etc/ssl/certs/{{ grains['domain'] }}-gandi.crt" ]
then
  echo "File '/etc/ssl/certs/{{ grains['domain'] }}-gandi.crt' already exists!"
  echo "Not overwriting it."
else
  ./gencsr << EOF









EOF
  openssl x509 -req -days 365 -in {{ grains['fqdn'] }}.csr -signkey private/{{ grains['fqdn'] }}.key -out certs/{{ grains['domain'] }}-gandi.crt
  rm {{ grains['fqdn'] }}.csr
fi

# Certificate for mail.{{ grains['domain'] }}
if [ -f "/etc/ssl/certs/mail.{{ grains['domain'] }}-gandi.crt" ]
then
  echo "File '/etc/ssl/certs/mail.{{ grains['domain'] }}-gandi.crt' already exists!"
  echo "Not overwriting it."
  exit 1
fi
./gencsr << EOF





mail.{{ grains['domain'] }}



EOF
openssl x509 -req -days 365 -in {{ grains['fqdn'] }}.csr -signkey private/{{ grains['fqdn'] }}.key -out certs/mail.{{ grains['domain'] }}-gandi.crt
rm {{ grains['fqdn'] }}.csr
