#!/bin/bash
# Setup roundcube

# Don't tolerate errors
set -e

# Check that it's not already done
if ls -l /var/www/{{ roundcube['vhost'] }} | grep {{ roundcube['baseurl'][1:] }}
then
  echo "Roundcube already installed. Exiting."
  exit 0
fi

# Download and initialize roundcube sqlite database

RCVER="{{ roundcube['version'] }}"

echo
echo "This script is used by Salt to install roundcube from the tarball"
echo "provided by roundcube.net."
echo

# Download and extract
OLDWD=$(pwd)
TMPD=$(mktemp -d)
cd $TMPD

echo
echo "=== Downloading and extracting roundcube ..."
wget http://downloads.sourceforge.net/project/roundcubemail/roundcubemail/$RCVER/roundcubemail-$RCVER.tar.gz
tar xzf roundcubemail-$RCVER.tar.gz
cp -r roundcubemail-$RCVER /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}

wget http://www.tehinterweb.co.uk/roundcube/plugins/sieverules.tar.gz
tar xzf sieverules.tar.gz
cp -r sieverules /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}/plugins/

# Setup database
echo
echo "=== Initializing sqlite database ..."
cd /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}
mkdir db
echo ".exit" | sqlite -init SQL/sqlite.initial.sql db/sqlite.db

# Set permissions
echo
echo "=== Setting folder permissions ..."
chown -R www-data:www-data temp logs db

# Clean up
echo
echo "=== Cleaning up ..."
cd $OLDWD
rm -rf $TMPD

echo
echo "Done setup."

# Configure
echo
echo "=== Setting up config and DES key ..."

# db.inc.php.jinja
echo "db.inc.php ..."
scripts/jinja_copy files/rootfs/var/www/roundcube-vhost/baseurl/config/db.inc.php.jinja settings.yml.i /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}/config/db.inc.php
chmod 640 /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}/config/db.inc.php
chown root:www-data /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}/config/db.inc.php

# First pass jinja for main.inc.php.jinja
echo "main.inc.php first pass ..."
TMP=$(tempfile)
scripts/jinja_copy files/rootfs/var/www/roundcube-vhost/baseurl/config/main.inc.php.jinja settings.yml.i $TMP

# Second pass for main.inc.php.jinja
echo "main.inc.php second pass ..."
DES_KEY=$(pwgen -sy 24 1 | tr \\\'\"%/ $(pwgen -s 30 1))
cat $TMP | sed "s/'DES_KEY';$/'${DES_KEY}';/" > /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}/config/main.inc.php
chmod 640 /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}/config/main.inc.php
chown root:www-data /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}/config/main.inc.php

# sieverules config
cp files/rootfs/var/www/roundcube-vhost/baseurl/plugins/sieverules/config.inc.php /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}/plugins/sieverules/config.inc.php

# Clean up
rm $TMP
rm -r /var/www/{{ roundcube['vhost'] }}{{ roundcube['baseurl'] }}/installer

echo
echo "All done."
