#!/bin/bash
# Setup nginx virtual hosts

# Don't tolerate errors
set -e

{% for vhostname, props in nginx['vhosts'].iteritems() -%}
## Virtual host {{ vhostname }}
# Nginx folders
mkdir -p /var/www/{{ vhostname }}
mkdir -p /etc/nginx/{{ vhostname }}-conf.d

# Make temp settings
TMP=$(tempfile)
echo "vhostname: {{ vhostname }}" >> $TMP
{%- if vhostname == grains['domain'] %}
echo "ishomevhost: True" >> $TMP
{%- else %}
echo "ishomevhost: False" >> $TMP
{%- endif %}
echo "cert: {{ props['cert'] }}" >> $TMP
echo "key: {{ props['key'] }}" >> $TMP
echo >> $TMP
# Might create variable names collisions, but is simpler than a two-pass approach
cat settings.yml.i >> $TMP

# Create the vhosts config
scripts/jinja_copy files/rootfs/etc/nginx/sites-available/vhost.jinja $TMP /etc/nginx/sites-available/{{ vhostname }}
ln -sf ../sites-available/{{ vhostname }} /etc/nginx/sites-enabled/{{ vhostname }}

{%- if vhostname == grains['domain'] %}
# Copy the html files for the home virtual host
scripts/jinja_copy files/rootfs/var/www/homevhost/index.html.jinja $TMP /var/www/{{ vhostname }}/index.html
cp files/rootfs/var/www/homevhost/*.php /var/www/{{ vhostname }}/
cp files/rootfs/var/www/homevhost/*.css /var/www/{{ vhostname }}/
cp files/rootfs/var/www/homevhost/*.png /var/www/{{ vhostname }}/
cp files/rootfs/var/www/homevhost/*.ico /var/www/{{ vhostname }}/
{%- endif %}

# Clean up
rm $TMP

{%- endfor %}
