# Location info used for openssl, users, postfix, and php.
location:

  # Country Name (2 letter code)
  country_name: FR

  # State or Province Name (full name)
  state_province_name: Île-de-France

  # Locality Name (eg, city)
  locality_name: Paris

  # Organization Name (eg, company)
  org_name: Mehho

  # Relay host for SMTP
  relay_host: smtp.numericable.fr

  # Timezone
  timezone: Europe/Paris

# Credentials for special users
users:

  sebadmin:
    shell: /bin/bash
    uid: 1100
    gid: 1100
    groups:
      - admin
      - sshlogin
      - user
      - data
    fullname: Sebastien Lerique Administrator
    # CHANGEME (this can be changed, using 'mkpasswd -m SHA-512 $password')
    password: '$6$6M/InI47f1gac$8tY/GBdtEbuxAJUMwDX1P4RGkIEZTNeQwMc4E19klFTnzwwdkHqD0thhLHlGBtr8KGfu4y8IRS649OERnhiz70'
    sshkeys:
      - 'ssh-dss AAAAB3NzaC1kc3MAAACBANueq2n6PaUerqUVoTNfviXYWKIiJh/5QEphxkzQY6TrurZJP+qIJ8qUgeYvDhP0Zs9Gl18Zm1P/8x5y/REz6SPa4pUQ2+K+1VWewQJqnvlQSBibZlFoorn7hnMaLX/bLRqQcR7kR/TMWhnWw+DlVtlZGqx7acvEKSYQAo//kzuTAAAAFQCWVO1/cIPKPgl4rK91PfU+3XxbfQAAAIEAsV8seaYnd7FUeMvUcVH/YcHyJ0SvKNwFn7JhdSWQ/T1BIRSsea1++Eo2DIR0+K15Hxv9UGNMjI9MPxhOizFbffu2mDybyAAXeZBTTRkrCFvBI765FDqrI9jv2ljT2n/jFKk6NF07VY2/rJX6j7V7WD3KS3kVCtBnDGIEa2mHEWEAAACBAMBue3StYz7GqaeZfDvDSAikOeEBwu+oRU3fHi3hcj9MvXnRCmvIw85zILEhl58pr/lCQ93DZJetJgluTwyenK9dsx9oVWwdzN5u/tIm3PSfYMoHpG8hP1ZzutGwNJaA7H9eSSuzMTkWyqRdftEL9ifYegIJ4qcJlvnsYTjRIDaP sebastien@sebastien-laptop'

# Sudo
sudo:
  groups:
    admin: ALL=(ALL) ALL

# Nginx
nginx:
  vhosts:
    {{ grains['domain'] }}:
      cert: {{ grains['domain'] }}-cacert.crt
      key: {{ grains['fqdn'] }}.key

# Postfix
postfix:
  cert: mail.{{ grains['domain'] }}-cacert.crt
  key: {{ grains['fqdn'] }}.key
  rootaliasgroup: admin

# Mailman
mailman:
  lists_host: lists
  # CHANGEME
  site_pass: site_pass
  # CHANGEME
  sitelist_pass: sitelist_pass
  # CHANGEME
  creator_pass: creator_pass

# Dyndns
dyndns:
  credentials:
    www.ovh.com:
      {{ grains['domain'] }}-{{ grains['host'] }}: pass
  domains:
    {{ grains['fqdn'] }}:
      server: www.ovh.com
      username: {{ grains['domain'] }}-{{ grains['host'] }}
    lists.{{ grains['domain'] }}:
      server: www.ovh.com
      username: {{ grains['domain'] }}-{{ grains['host'] }}
    {{ grains['domain'] }}:
      server: www.ovh.com
      username: {{ grains['domain'] }}-{{ grains['host'] }}

# Dovecot
dovecot:
  cert: mail.{{ grains['domain'] }}-cacert.crt
  key: {{ grains['fqdn'] }}.key

# Roundcube
roundcube:
  version: 0.8.5
  baseurl: /mail

# OwnCloud
owncloud:
  version: 5.0.0
  baseurl: /nuage

# Etherpad
etherpad:
  baseurl: /pads
  # CHANGEME
  admin_pass: admin_pass

# Prosody
prosody:
  cert: {{ grains['domain'] }}-cacert.crt
  key: {{ grains['fqdn'] }}.key
  conference_host: conference
